/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-saturate {
  filter: saturate(4)
}

.filter-invert {
  filter: invert(0.8)
}

.filter-contrast {
  filter: contrast(30%)
}

.filter-multiplier {
  /* убираем все лишнее с картинки и делаем из нее грузовичек на фоне ночного неба */
  filter: grayscale(90%) hue-rotate(256deg) contrast(20) saturate(10%);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--regular-font-family);
  font-size: 18px;
  font-variation-settings: 'wght' 410;
  padding-block: 100px;
}

.logo {
  font-family: var(--accent-font-family);
  background-color: var(--page-background-color);
  padding-block: clamp(7.625rem, 7.449rem + 0.751vw, 8.125rem);
  padding-inline: clamp(1rem, -1.344rem + 10vw, 7.656rem);
  width: var(--pade-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  border: var(--border);
}

.logo__title {
  text-transform: uppercase;
  font-size: var(--logo-title-dynamic-font-size);
  font-weight: 400;
}

.logo__subtitle {
  text-transform: uppercase;
  font-size: var(--logo-subtitle-dynamic-font-size);
}

.content {
  width: var(--pade-width);
  margin-inline: auto;
  margin-block-start: 96px;
}

.card-list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card {
  background-color: var(--page-background-color);
  border: var(--border);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' 710;
  padding-inline: 10px;
  padding-block: 4px;
  border-block-end: var(--border);
}

.card__image-block {
  position: relative;
  /* Фиксит выход блюра за пределы изображения */
  overflow: hidden;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--page-background-color);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border: var(--border);
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-block-start: var(--border);
  line-height: 21px;
}

.card__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline: 25px;
  padding-block-end: 25px;
  gap: 6px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.like-icon {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--page-background-color);
}

.card__icon-button:focus {
  border: var(--border);
}

.card__like-button {
  font-family: var(--accent-font-family);
  line-height: 90%;
  font-size: 14px;
  font-weight: 400;
  min-inline-size: 130px;
  min-block-size: 38px;
  padding-block: 10px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.save-block {
  margin-block-start: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font-family);
  line-height: 90%;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--page-background-color);
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #000000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button__text,
.save-block__button-icon {
  color: var(--difference-color);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

.save-block__button {
  display: flex;
  gap: 8px;
  padding-inline: 18px;
  padding-block: 15px;
  transition: box-shadow 0.3s ease;
}

.save-block__button-text {
  align-self: center;
}

.save-block__button-icon {
  inline-size: 21px;
  block-size: 21px;
}

.modal {
  max-inline-size: 355px;
  padding: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: var(--background-color-backdrop);
}

.modal__content {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-block-end: 30px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  width: 100%;
  padding-block: 12.5px;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease;
}

@media (width < 376px) {
  .save-block__button {
    flex-direction: column;
    align-items: center;
  }

  .save-block-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal {
    max-inline-size: 341px;
    padding: 30px 40px;
  }
}

@supports ((-webkit-text-stroke: 1px var(--page-background-color)) or (text-stroke: 1px var(--page-background-color, #ffffff))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--page-background-color);
  }
}